@page "/Customer"
@model AspNetCoreFactory.RazorPages.Pages.Customer.ListModel
@{
}

<h1>Customers</h1>

<div class="row pb-20">
    <div class="col">

        <table class="table table-sm table-hover table-list">
            <tr>
                <th class="table-list-actions no-hover">
                    <a class="btn btn-xs btn-light" href="/customer/edit/0">New Customer</a>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Orders</th>
                <th>&nbsp;</th>
            </tr>

            @if (Model.Customers.Count() == 0)
            {
            <tr><td colspan="5"><div class="no-items">No items to display</div></td></tr>
            }

            @foreach (var customer in Model.Customers)
            {
            <tr>
                <td>
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <a class='btn btn-xs btn-light' href="/customer/edit/@customer.Id">Edit</a>&nbsp;
                        <a class='btn btn-xs btn-light @(customer.TotalOrders > 0 ? "disabled" : "")' href="/customer/delete/@customer.Id">Delete</a>
                    </form>
                </td>
                <td><a class="table-list-link" href="/customer/@customer.Id">@customer.FullName</a></td>
                <td>@customer.Email</td>
                <td class="text-center">
                    @if (customer.TotalOrders > 0)
                        {
                    <form action="/orders">
                        <input type="hidden" name="customerId" value="@customer.Id" />
                        <button type="submit" class="btn btn-xs btn-default">@customer.TotalOrders</button>
                    </form>
                            }
                            else
                            {
                    @customer.TotalOrders
                            }

                </td>
                <td><a class="table-list-link" href="/orders/edit/@customer.Id/0">Add Order</a></td>
            </tr>
            }
        </table>

    </div>
</div>
